QMainWindow { background-color:#121212; color:#121212; }
QLabel { background-color:#121212;color:#eeeeee; }
QLineEdit, QComboBox, QProgressBar, QFrame, QMessageBox, QFileDialog { background-color:#1e1e1e; color:#ffffff; }
QPushButton { background-color:#333333; color:#ffffff; border-radius:4px; padding:6px 10px; }
QPushButton:hover { background-color:#444444; }
QCheckBox {color:#ffffff; background-color:#121212}